@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
.user_image {
  background-color: blue;
  opacity: 90%;
}
.user_image:hover {
  opacity: 100%;
}

body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -142px;
}
.page-wrap:after {
  content: "";
  display: block;
}
.footer {
  /* display: flex;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  bottom: 0; */
  justify-content: space-between;
  position: sticky;
  width: 100%;
  bottom: 0;
  clear: both;
}
#navbar {
  position: sticky;
  top: 0;
  z-index: 1;
}
