@tailwind base;
@tailwind components;
@tailwind utilities;


.loader {
    border: 16px solid #f3f3f3; 
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


html, body {
    height: 100%;
  }
  
  /* Set the container div to be a flex container with column direction */
  .flex-col {
    display: flex;
    flex-direction: column;
  }
  
  /* Make the main content div take up all the available space */
  .flex-grow {
    flex-grow: 1;
  }
  
  /* Push the footer to the bottom of the container */
  footer {
    margin-top: auto;
  }
  

  .custom-img {
    background-image: url("https://images.unsplash.com/photo-1454496522488-7a8e488e8606?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1955&q=80");
  }
  